*{
    font-family: 'Merriweather', serif;   
}
.container-fluid{
    width: 100%; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    backdrop-filter: blur(10px);
    background: #ffffff8c;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.2);
}
.btn{
    box-shadow: 0 0 10px rgba(0, 0, 0,0.2);
}
